<div class="card">
    <div class="card-body">
      @if (messageService.messageThread().length === 0) {
        <p>No messages yet</p>
      }
      @else {
        <div class="chat-wrapper d-flex flex-column" style="height: 70vh;">
            <div class="container-setting flex-grow-1" #messageContainer>
                
                <ul class="chat list-unstyled">

                    @for (group of groupMessagesByDay(messageService.messageThread()); track group.date) {
                      
                      <li>
                        <h6 class="text-center text-muted mt-3 mb-2">
                          {{ group.date }}
                        </h6>
                      </li>
                  
                      @for (message of group.messages; track message.id) {
                        <li [ngClass]="{ 'justify-content-end': message.senderUsername === usernameValue, 'justify-content-start': message.senderUsername !== usernameValue }" 
                            class="d-flex mb-2">
                  
                          
                          @if (message.senderUsername !== usernameValue) {
                            <img 
                              class="rounded-circle me-2"
                              [src]="message.senderPhotoUrl || './assets/user.png'" 
                              alt="Sender avatar" 
                              style="width: 40px; height: 40px;" />
                          }
                  
                          
                          <div [ngClass]="{ 'sent-message': message.senderUsername === usernameValue, 'received-message': message.senderUsername !== usernameValue }"
                               class="message-bubble d-flex align-items-end">
                  
                            <p class="mb-0 me-2">{{ message.content }}</p>
                  
                            <div class="align-text-bottom text-muted" style="font-size: 10px;">
                              {{ getTimeOnly(message.messageSent) }}
                            </div>
                          </div>
                        </li>
                      }
                    }
                  </ul>
                  
            </div>
          </div>
          
      }
    </div>
  
    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()">
        <div class="input-group">
          <input 
            name="messageContent"
            required
            [(ngModel)]="messageContent"
            type="text" 
            class="form-control"
            placeholder="Send a message...">
          
          <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  