.outer {
    height: 100dvh;
    background: linear-gradient(to bottom right, #040b17, #2a5298, #0a161e); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* if you want vertical stacking inside */
    margin-top: 0%;
}

.container-settings{
    background-color: white;
    height: 30%;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 70%;
    margin-top: 0px!important;
    padding: 0px;
    
}

input{
    height: 50px;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}