<div class="outer">
    <div class="container container-settings">
        <form (ngSubmit)="SendResetLink()" #forgotForm="ngForm">
           <h2 class="mt-3" > Recover password </h2>
            <input 
                type="email"
                name="email"
                [(ngModel)]="email"
                required
                placeholder="Enter your email"
                class="form-control"
            >
            
        
            <button type="submit"
            class="btn btn-info"
            [disabled]="!forgotForm.valid">Send link
            </button>
        
        </form>
    </div>
</div>

