<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">SignUp</h2>
    <hr>

    <div class="form-check form-check-inline mb-3 text-white">
        <label style="margin-right: 10px ">I am a: </label>
        <label class="form-check-label me-4">
            <input type="radio" class="form-check-input " value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label ">
            <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
        </label>
    </div>

    <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"   
    ></app-text-input>

    <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known as'"   
    ></app-text-input>

    <app-text-input
    [formControl]="$any(registerForm.controls['email'])"
    [label]="'Email'"   
    ></app-text-input>

    <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of birth'"
    [maxDate]="maxDate"
    ></app-date-picker>

    <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"   
    ></app-text-input>

    <div class="mb-3 form-floating">
        <input
          id="countryInput"
          list="datalistOptions"
          class="form-control bg-transparent text-white border-white transparent-input"
          placeholder="Type to search..."
          formControlName="country"
          [class.is-invalid]="registerForm.controls['country'].touched && registerForm.controls['country'].invalid"
        >
        <datalist id="datalistOptions">
          @for (country of countries; track $index) {
            <option [value]="country"></option>
          }
        </datalist>
      
        <div *ngIf="registerForm.controls['country'].touched && registerForm.controls['country'].invalid" class="invalid-feedback text-start d-block">
          <div *ngIf="registerForm.controls['country'].hasError('required')">
            Country is required.
          </div>
          <!-- Add more custom error messages here if needed -->
        </div>
      </div>
      
      
    <app-text-input
        [formControl]="$any(registerForm.controls['password'])"
        [label]="'Password'" 
        [type]="'password'"  
    ></app-text-input>

    <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'ConfirmPassword'"
    [type]="'password'"  
    ></app-text-input>
    @if(validationErrors){
        <div class="alert alert-danger text-start">
            @for(error of validationErrors; track $index){
                <li>{{error}}</li>
            }
        </div>
    }

    <div class="form-group text-center mb-5">
        <button [disabled]="!registerForm.valid" class="btn btn-outline-info button1" type="submit">Register</button>
        <button class="btn btn-info button1 me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
