<div class="container">
    <div style="text-align: center;">

        @if(!registerMode){
            <h1 class="text-white">Find your <span class="dimmed"> Perfect Match</span></h1>
            <p class="lead text-white">Join now and start connecting with people who truly get you.</p>
            <div class="text-center mt-5">
                <button class="btn btn-outline-light btn-lg me-2" (click)="registerToggle()">Register</button>
                <button class="btn btn-outline-info btn-lg me-2">Learn more</button>
            </div>
            <div class="forgot-password">
                <a routerLink="/forgot-password" class="text-primary">Forgot your password?</a>
            </div>
        }
        @else {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register
                         (cancelRegister)="cancelRegisterMode($event)"
                         ></app-register>
                    </div>
                </div>
            </div>
        }
    </div>
</div>