
    <div class="row">
        <div class="col-4">
            <div class="card card-settings">
                <img 
                src="{{member.photoUrl || './assets/user.png'}}" 
                alt="{{member.knownAs}}" 
                class="card-img photo">
                <div class="card-body photo">
                    @if(pressenceService.onlineUsers().includes(member.username))
                    {
                        <div class="mb-2">
                            <i class="fa fa-user-circle text-success"></i>Online now
                        </div>
                    }
                    <div>
                        <strong>
                           Location:
                        </strong>
                        <p>{{member.city}}, {{member.country}} <span><button title="Show on maps" (click)="searchOnMaps(member.city!,member.country!)" class="btn btn-outline-dark button2 ms-2" ><i class="fa fa-globe " aria-hidden="true"></i></button></span></p> 
                    </div>
                    <div>
                        <strong>
                           Age:
                        </strong>
                        <p>{{member.age}}</p> 
                    </div>
                    <div>
                        <strong>
                           Last Active:
                        </strong>
                        <p>{{member.lastActive| timeago}}</p> 
                    </div>
                    <div>
                        <strong>
                           Member since:
                        </strong>
                        <p>{{member.created | date:'dd MMM yyyy'}}</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <tabset class="member-tabset" #memberTabs>
                <tab>
                    <ng-template tabHeading>
                      About {{ member.knownAs }} <i class="fa-solid fa-address-card"></i>
                    </ng-template>
                  
                    <h4 class="fs-2 text-white">Description</h4>
                    <p class="fs-4" style="color: gray;">{{ member.introduction }}</p>
                  
                    <h4 class="fs-2 text-white">Looking for</h4>
                    <p class="fs-4" style="color: gray;">{{ member.lookingFor }}</p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                        Interests  <i class="fa-solid fa-thumbtack"></i>
                    </ng-template>
                    <h4 class="fs-1 text-white">Interests</h4>
                    <p class="fs-4 " style="color: gray;">{{member.interests}}</p>
                  
                  </tab>
                  <tab (selectTab)="onTabActivated($event)">
                    <ng-template tabHeading>
                      Photos <i class="fa-solid fa-images"></i>
                    </ng-template>
                  
                    @if (activeTab?.active) {
                        <gallery 
                          [items]="images" 
                          [itemAutosize]="true"
                          class="gallery">
                        </gallery>
                      }
                  </tab>
                  
                
                  <tab heading="Messages" (selectTab)="onTabActivated($event)">
                    <ng-template tabHeading>
                       <i class="fa-solid fa-message"></i>
                    </ng-template>
                  
                    <app-member-messages [username]="member.username"></app-member-messages>
                  </tab>
                
            </tabset>

        </div>
    </div>

